<!doctype html>
<html>
  <head>
     <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/group.css') }}">
  </head>
  <title>{% block title %}{% endblock %}</title>
  <head>
    <nav>
      <h1 class="main-title">Create Group</h1>
    </nav>
    <section class="content">
      <header>
        {% block header %}{% endblock %}
      </header>
      {% block content %}
      <div class="main-div">
        <form method="post">
          <label for="name">Group Name</label>
          <input name="name" id="name" required>
          <input type="submit" value="Create">
        </form>
      </div>
      {% endblock %}
    </section>
  </head>
</html>