<!doctype html>
<title>{% block title %}{% endblock %}</title>
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/group.css') }}">
<nav>
  <h1 class="main-title">{{group.name}}'s Group</h1>
</nav>
<section class="content">
  <header>
    {% block header %}{% endblock %}
  </header>
  {% block content %}
  <div>
    <ul>
      {% for member in group.members %}
        <li>
            <p>{{member.person.name}} - {{member.person.email}}</p>
            <div id="remove-participant-div" class="remove-participant-div">
              <form action="/groups/remove_participant/{{member.id}}" method="post">
                <button name="remove-member-btn" type="submit">Remove Participant</button>
              </form>
            </div>
        </li>
      {% endfor %}
    </ul>
  </div>
  <div id="main-div" class="main-div">
      <button id="show-div-button" value="Add Participant">Add Participant</button>
      <div id="add-participant-div" style="display: none;">
          <form action="/groups/{{group.id}}" method="post">
            <label for="name">Name</label>
            <input name="user_name" id="name" required>
            <label for="email">Email</label>
            <input name="user_email" id="email" required>
            <input type="submit" value="Add to group">
          </form>
      </div>
      <div id="delete-group-div">
        <form action="/groups/delete/{{group.id}}" method="post">
          <button name="delete-group-btn" type="submit">Delete Group</button>
        </form>
      </div>
      <div id="return">
        <a href="/groups">Back to Groups</a>
      </div>
      <script>
        let button = document.getElementById("show-div-button");
        button.addEventListener("click", function() {
            let div = document.getElementById("add-participant-div");
            div.style.display = div.style.display != "block" ? "block" : "none";
            button.value = button.value == "Add Participant" ? "Cancel" : "Add Participant";
            button.innerHTML = button.innerHTML == "Add Participant" ? "Cancel" : "Add Participant";
        });
      </script>
  </div>
  {% endblock %}
</section>