{% extends 'base.html' %}

{% block head %}
    <title>Groups</title>
{% endblock %}
    
{% block body %}
    <h1>Groups</h1>
    <div>
        {% for group in groups %}
            <li>
                <ul>ID: {{group.id}}</ul>
                <ul>Name: {{group.name}}</ul>
            </li>
        {% endfor %}
    </div>
    <h1>Users</h1>
    <div>
        {% for user in users %}
            <li>
                <ul>ID: {{user.id}}</ul>
                <ul>Name: {{user.name}}</ul>
                <ul>Email: {{user.email}}</ul>
            </li>
        {% endfor %}
    </div>
{% endblock %}