{% extends 'base.html' %}

{% block head %}
    <title>Groups</title>
{% endblock %}
    
{% block body %}
    <h1>Groups</h1>
    <div>
        {% for group_name, members in groups.items() %}
            <li> <b>{{group_name}}</b>
                <ul>
                    {% for member in members %}
                        <p>{{member.id}}: {{member.name}} - {{member.email}}</p>
                    {% endfor %}
                </ul>
            </li>
        {% endfor %}
    </div>
{% endblock %}